{% extends 'base.html.twig' %}

{% block title %}Profil de {{ user.firstName }} {{ user.lastName }}{% endblock %}

{% block body %}
<div class="container top">
    <h1>Bonjour {{ user.lastName }} {{ user.firstName }}</h1>

    <h3>Vous trouverez ici vos différentes informations</h3>
    <p>Nom : {{ user.lastName }}</p>
    <p>Prénom : {{ user.firstName }}</p>
    <p>Téléphone : {{ user.phone }}</p>
    <p>Email : {{ user.email }}</p>
</div>
{% endblock %}