{% extends 'base.html.twig' %}

{% block title %}Profil de {{ user.firstName }} {{ user.lastName }}{% endblock %}

{% block body %}
<div class="container top">
    <h1>Hello {{ user.lastName }} {{ user.firstName }}</h1>

    <p>Vous avez un {{ user.roles[0] }}</p>

    <h3>Les différentes infos sur vous :</h3>
    <p>Nom : {{ user.lastName }}</p>
    <p>Prénom : {{ user.firstName }}</p>
    <p>Téléphone : {{ user.phone }}</p>
    <p>Email : {{ user.email }}</p>
</div>
{% endblock %}