{% extends 'base.html.twig' %}

{% block title %}Rendez-vous{% endblock %}

{% block body %}
    <h1>Les rendez-vous</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>BeginAt</th>
                <th>EndAt</th>
                <th>Denomination</th>
                <th>CreatedAt</th>
                <th>CreatedBy</th>
                <th>UpdatedAt</th>
                <th>UpdatedBy</th>
                {% if is_granted('ROLE_ADMIN') %}
                    <th>actions</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for appointment in appointments %}
            <tr>
                <td>{{ appointment.id }}</td>
                <td>{{ appointment.beginAt ? appointment.beginAt|date('d-m-Y H:i:s') : '' }}</td>
                <td>{{ appointment.endAt ? appointment.endAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ appointment.denomination }}</td>
                <td>{{ appointment.createdAt ? appointment.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ appointment.createdBy }}</td>
                <td>{{ appointment.updatedAt ? appointment.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ appointment.updatedBy }}</td>
                {% if is_granted('ROLE_ADMIN') %}
                    <td>
                        <a href="{{ path('appointment_show', {'id': appointment.id}) }}">Voir</a>
                        <a href="{{ path('appointment_edit', {'id': appointment.id}) }}">Modifier</a>
                    </td>
                {% endif %}
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if is_granted('ROLE_ADMIN') %}
        <a class="btn btn-success" href="{{ path('appointment_new') }}">Create new</a>
    {% endif %}
{% endblock %}
