<nav class="navbar fixed-top navbar-expand-xl navbar-dark bg-dark">
    <a class="navbar-brand" href="{{ path('home') }}">Notre Style</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('home') }}">Accueil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Nous contacter</a>
            </li>
            {% if is_granted('ROLE_ADMIN') %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('appointment_index') }}">Voir les Rendez-vous</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('user_index') }}">Voir les Utilisateurs</a>
                </li>
            {% endif %}
            {% if app.user %}
            <li class="nav-item">
                <a class="nav-link" href="{{ path('profil') }}">Votre Profil</a>
            </li>
            {% endif %}
            
        </ul>
        {% if not app.user %}
            <a href="{{ path('app_login') }}" class="btn btn-gold"><strong>Se Connecter</strong></a>
        {% else %}
            {% if is_granted('ROLE_USER') %}
                <a href="{{ path('appointment_new') }}" class="btn btn-secondary my-2 my-sm-0 mr-sm-2">Prendre un rendez-vous</a>
            {% endif %}
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('appointment_new') }}" class="btn btn-secondary my-2 my-sm-0 mr-sm-2">Ajouter un rendez-vous</a>
                    <div class="dropdown">
                        <a class="btn btn-gold dropdown-toggle my-2 my-sm-0 mr-sm-2" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Ajouter
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="{{ path('inscription') }}">Un Utilisateur</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ path('services_new') }}">Un Service</a>
                        </div>
                    </div>
            {% endif %}
            <a href="{{ path('app_logout') }}" class="btn btn-outline-warning">Déconnexion</a>
        {% endif %}
    </div>
</nav>